@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");

* {
  box-sizing: border-box;
}

main {
  min-height: 85vh;
}

body {
  margin: auto;
  font-family: "Inria Serif", serif;
}

h1,
h2,
h3,
a {
  font-family: "Inria Serif", serif;
}

/* LOGO */

.logo-text {
  letter-spacing: 2px;
}

header h1 {
  letter-spacing: 4px;
}

/* NAV */

nav img {
  width: auto;
  height: 50px;
}

nav {
  display: flex;
  border-bottom: #000 3px solid;
  padding-left: 0.75vw;
}

nav a {
  text-decoration: none;
  color: #000;
  margin: 1vw;
}

.navlinks {
  flex: 2;
  align-items: center;
}

.login {
  background-color: #cdb5ac;
  padding: 0.25vw;
}

.login:hover {
  background-color: #fff;
  transition: 0.3s ease;
}


nav div {
  display: flex;
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    width: 100vw;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
  }

  .navlogo {
    display: flex;
    align-items: center;
  }

  .login {
    display: flex;
    justify-content: center;
  }

}

/* HEADER */

header {
  margin: 3vw 0;
}

header div {
  display: flex;
}

.headerlogo {
  align-items: center;
  font-size: 1.3rem;
}

header img {
  width: auto;
  height: 100px;
}

header p {
  font-size: 1.1rem;
}

section a {
  text-decoration: none;
  color: #000;
  border: #855e42 2px solid;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: center;
  max-width: 25vw;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: #000;
  border: #cdb5ac 2px solid;
  background-color: #cdb5ac;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

section a:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

header a:hover {
  background-color: #855e42;
  transition: 0.3s ease;
}

.headertext {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
}

@media (max-width: 480px) {
  #images img {
    max-height: 25vw;
  }
  #images {
    max-width: 25vw;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headertext {
    max-width: 50vw;
  }

  #more\ info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
  }

  section a {
    max-width: 50vw;
  }

  nav {
    padding-left: 0;
  }

  .headerlogo img {
    max-height: 20vw;
  }

}

/* FLEX */

.flex {
  display: flex;
}

#images {
  flex: 1;
  margin: 2vw;
}

.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}

/* FOOTER */

footer {
  background-color: #dedede;
  padding: 1.5vw;
}

/* LOGIN */

#login .button {
  text-decoration: none;
  font-family: "Inria Serif", serif;
  color: #fff;
  border: #855e42 2px solid;
  background-color: #855e42;
  border-radius: 3px;
  padding: 5px;
}

#login .button:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw 0 0 0;
}

.formfield {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  font-weight: bold;
}

.block {
  background-color: #cdb5ac;
  padding: 2vw;
  border-radius: 2px;
}


/* REGISTER */
#register .button {
  text-decoration: none;
  font-family: "Inria Serif", serif;
  color: #fff;
  border: #855e42 2px solid;
  background-color: #855e42;
  border-radius: 3px;
  padding: 5px;
}

#register .button:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw 0 6vw 0;
}

/* RESERVEREN */

/* #reserveren p {
  display: flex;
  justify-content: center;
  margin: 2vw 25vw 0 25vw;

} */

.form {
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
}

.inputfieldsbg {
  display: flex;
  justify-content: center;
  gap: 3vw;
  background-color: #cdb5ac;
  margin: 2vw 25vw 0 25vw;
  padding: 2vw 2vw 0 2vw;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}



input,textarea,select {
  border-radius: 3px;
  border: 1px solid;
  font-family: "Inria Serif", serif;
  padding: 5px;
  margin-top: 3px;
}

#form button {
  color: #fff;
  border: #855e42 2px solid;
  background-color: #855e42;
  border-radius: 3px;
  padding: 0.75vw 5vw;
  font-family: "Inria Serif", serif;
  font-size: 1rem;
}

#form button:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

.submitbuttonbg {
  background-color: #dedede;
  display: flex;
  justify-content: center;
  padding: 2vw 20vw;
  margin: 0 25vw 5vw 25vw;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

@media (max-width: 480px) {
  .inputfieldsbg {
    flex-direction: column;
    gap: 0;
  }

}

/*RESERVERINGEN*/

.reserveringentable {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vw;
}

table {
  border-spacing: 0;
}

table div {
  display: flex;
  flex-direction: column;
}

th {
  font-size: 1.3rem;
  padding: 1vw;
}

td {
  padding: 1vw;
}

tbody tr:nth-child(odd) {
  background-color: #dedede;
}


/* PORTFOLIO */
#portfolio section {
  display: flex;
  padding: 2vw 10vw;
}

#portfolio section div {
  padding: 1vw;
}

#portfolio section img {
  padding: 1vw;
  max-width: 40vw;
  height: auto;
}

#reserveerbutton {
  flex-direction: column;
  align-items: center;
}

#logo {
  justify-content: center;
}

#portfolio #logo div {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo div h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 4px;
}

#logo div h2 {
  font-size: 1rem;
  margin: 0;
}

#portfolio #logo img {
  width: auto;
  height: 7vw;
  padding: 0;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #242528;
  }
  h1, h2, h3, a, p {
    color: #fff;
  }

  img {
    filter: invert(1);
  }

  #images img {
    filter: invert(0);
  }

  #portfolio img {
    filter: invert(0);
  }

  #logo img {
    filter: invert(1);
  }

  footer {
    background-color: #3a3b3c;
  }

  section a {
    color: #fff;
    border: #3a3b3c 3px solid;
  }

  section a:hover {
    background-color: #3a3b3c;
  }

  header a {
    color: #fff;
    background-color: #3a3b3c;
    border: #3a3b3c 2px solid;
  }

  header a:hover {
    border: #242526 2px solid;
    background-color: #86898d;
  }

  nav a {
    color: #fff;
  }

  .login {
    background-color: #3a3b3c;
  }

  .login:hover {
    background-color: #242526;
  }

  .inputfieldsbg {
    background-color: #3a3b3c;
  }

  .submitbuttonbg {
    background-color: #86898d;
  }

  #reserveren .button, #login .button, #register .button {
    background-color: #242526;
    border: #242526 2px solid;
  }

  #reserveren .button:hover, #login .button:hover, #register .button:hover {
    background-color: #3a3b3c;
  }

  .block {
    background-color: #3a3b3c;
  }

  label {
    color: #fff;
  }

  table {
    color: white;
  }

  tbody tr:nth-child(odd) {
    background-color: #3a3b3c;
  }

}