@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");

* {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

body {
  margin: auto;
  font-family: "Inria Serif", serif;
}

h1,
h2,
h3,
a {
  font-family: "Inria Serif", serif;
}

/* LOGO */

.logo-text {
  letter-spacing: 2px;
}

header h1 {
  letter-spacing: 4px;
}

/* NAV */

nav img {
  width: auto;
  height: 50px;
  margin-top: 0.25vw;
}

nav {
  display: flex;
  border-bottom: #000 3px solid;
  padding-left: 0.75vw;
}

nav a {
  text-decoration: none;
  color: #000;
  margin: 1vw;
}

.navlinks {
  flex: 2;
  align-items: center;
}

.login {
  background-color: #cdb5ac;
  padding: 0.25vw;
}

.login:hover {
  background-color: #855e42;
  transition: 0.3s ease;
}


nav div {
  display: flex;
}

/* HEADER */

header {
  margin: 3vw 0;
}

header div {
  display: flex;
}

header img {
  width: auto;
  height: 100px;
}

header p {
  max-width: 25vw;
  font-size: 1.1rem;
}

section a {
  text-decoration: none;
  color: #000;
  border: #855e42 2px solid;
  border-radius: 3px;
  padding: 5px;
}

header a {
  text-decoration: none;
  color: #000;
  border: #cdb5ac 2px solid;
  background-color: #cdb5ac;
  border-radius: 3px;
  padding: 5px;
}

section a:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

header a:hover {
  background-color: #855e42;
  transition: 0.3s ease;
}

/* FLEX */

.flex {
  display: flex;
}

#images {
  flex: 1;
  margin: 2vw;
}

.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}

/* FOOTER */

footer {
  background-color: #dedede;
  padding: 1.5vw;
}

/* LOGIN */

#login .button {
  text-decoration: none;
  font-family: "Inria Serif", serif;
  color: #fff;
  border: #855e42 2px solid;
  background-color: #855e42;
  border-radius: 3px;
  padding: 5px;
}

#login .button:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw 0 6vw 0;
}

.formfield {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  font-weight: bold;
}

.block {
  background-color: #cdb5ac;
  padding: 2vw;
  border-radius: 2px;
}


/* REGISTER */
#register .button {
  text-decoration: none;
  font-family: "Inria Serif", serif;
  color: #fff;
  border: #855e42 2px solid;
  background-color: #855e42;
  border-radius: 3px;
  padding: 5px;
}

#register .button:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw 0 6vw 0;
}

/* RESERVEREN */

.form {
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
}

.imputfieldsbg {
  display: flex;
  justify-content: center;
  gap: 3vw;
  background-color: #cdb5ac;
  margin: 2vw 25vw 0 25vw;
  padding: 2vw 2vw 0 2vw;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#form label {
  color: #000;
}

input,textarea,select {
  border-radius: 3px;
  border: 1px solid;
  font-family: "Inria Serif", serif;
  padding: 5px;
  margin-top: 3px;
}

#form button {
  color: #fff;
  border: #855e42 2px solid;
  background-color: #855e42;
  border-radius: 3px;
  padding: 0.75vw 5vw;
  font-family: "Inria Serif", serif;
  font-size: 1rem;
}

#form button:hover {
  background-color: #cdb5ac;
  transition: 0.3s ease;
}

.submitbuttonbg {
  background-color: #dedede;
  display: flex;
  justify-content: center;
  padding: 2vw 20vw;
  margin: 0 25vw 5vw 25vw;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}